 body{
    background-image: url(/image/bg.jpg);
    font-size: 20px;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    margin:10% auto;
    background-color: #8baca0;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}

.frm{
    margin: 10px;
}

/* .form{
    background-color: #421414;
} */

